<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unipv Translator</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<link rel="stylesheet" href="../static/css/index.css"></link>

<body>
  <ul class="topnav">
    <li><a class="logo" title="Home" href="/"><img src="static/res/logoCloudTranslatorSvg.svg"></a></li>
    <li><a href="/">Home</a></li>
    <li><a class="active" href="community">Community</a></li>
    <li class="right"><a href="about">About</a></li>
  </ul>

  <div class="complex">
    
    </div>
  

  <footer id="footer">
    <span>
      <p>
        <a href="https://web.unipv.it/" class="aliceblue">Università degli Studi di Pavia</a>
        <br>
        Cloud Computing Project UNIPV © 2022
      </p>
    </span>
  </footer>

</body>

<script src="{{url_for('static', filename='scripts/index.js')}}"></script>
</html>