<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Website for a translator. This is a universitary project for the exam Cloud Computing, University of Pavia, Italy">
  <title>Cloud Translator</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"></link>


<body>
  <ul class="topnav">
    <li><a class="logo" title="Home" href="/"><img src="static/res/logoCloudTranslatorSvg.svg"></a></li>
    <li><a class="active" href="/"><i class="ri-home-2-line"></i>&nbsp;Home</a></li>
    <li><a href="community"><i class="ri-team-line"></i>&nbsp;Community</a></li>
    <li class="right"><a href="about"><i class="ri-information-line"></i>&nbsp;About</a></li>
  </ul>

  <div class="short-bio">
    <p>
      This translator is a university project. <br>Created by 5 students of the master's degree in Computer Engineering at the <a href="https://web.unipv.it/" class="aliceblue">University of Pavia</a>, Italy.
      <br>It is based on the open-source project <a href="https://www.argosopentech.com/" class="aliceblue">Argos Translate</a> , that is, a Python library base on <a href="https://opennmt.net/" class="aliceblue">OpenNMT</a>.
    </p>
  </div>

  <div class="complex">
    <p class="selects_line">
      <select id="from" name="from" class="from" data-placeholder="Choose a Language...">
        <option value="AR">Arabic</option>
        <option value="AZ">Azerbaijani</option>
        <option value="ZH">Chinese</option>
        <option value="CS">Czech</option>
        <option value="DA">Danish</option>
        <option value="NL">Dutch</option>
        <option value="EN">English</option>
        <option value="EO">Esperanto</option>
        <option value="FI">Finnish</option>
        <option value="FR">French</option>
        <option value="DE">German</option>
        <option value="EL">Greek</option>
        <option value="HE">Hebrew</option>
        <option value="HI">Hindi</option>
        <option value="HU">Hungarian</option>
        <option value="ID">Indonesian</option>
        <option value="GA">Irish</option>
        <option value="IT" selected>Italian</option>
        <option value="JA">Japanese</option>
        <option value="KO">Korean</option>
        <option value="FA">Persian</option>
        <option value="PL">Polish</option>
        <option value="PT">Portuguese</option>
        <option value="PA">Punjabi</option>
        <option value="RU">Russian</option>
        <option value="SK">Slovak</option>
        <option value="ES">Spanish</option>
        <option value="SV">Swedish </option>
        <option value="TR">Turkish</option>
        <option value="UK">Ukrainian</option>
      </select>

      <button type="button" name="invert" id="invert" class= "button"><i class="ri-arrow-left-right-fill"></i></button>

      <select id="to" name="to" class="to" data-placeholder="Choose a Language...">
        <option value="AR">Arabic</option>
        <option value="AZ">Azerbaijani</option>
        <option value="ZH">Chinese</option>
        <option value="CS">Czech</option>
        <option value="DA">Danish</option>
        <option value="NL">Dutch</option>
        <option value="EN" selected>English</option>
        <option value="EO">Esperanto</option>
        <option value="FI">Finnish</option>
        <option value="FR">French</option>
        <option value="DE">German</option>
        <option value="EL">Greek</option>
        <option value="HE">Hebrew</option>
        <option value="HI">Hindi</option>
        <option value="HU">Hungarian</option>
        <option value="ID">Indonesian</option>
        <option value="GA">Irish</option>
        <option value="IT">Italian</option>
        <option value="JA">Japanese</option>
        <option value="KO">Korean</option>
        <option value="FA">Persian</option>
        <option value="PL">Polish</option>
        <option value="PT">Portuguese</option>
        <option value="PA">Punjabi</option>
        <option value="RU">Russian</option>
        <option value="SK">Slovak</option>
        <option value="ES">Spanish</option>
        <option value="SV">Swedish </option>
        <option value="TR">Turkish</option>
        <option value="UK">Ukrainian</option>
      </select>
    </p>

    <p class="textareas_line">
      <textarea id="from_text" name="from_text"></textarea>
      <span class="vertical_buttons">
        <button id="button_speak_from" class="speaker"><i class="ri-volume-up-line button-icon"></i></button>
        <button id="button_paste_from"><i class="ri-clipboard-line button-icon"></i></button>
      </span>

      <textarea readonly id="to_text" class="to_text" name="to_text"></textarea><br>
      <span class="vertical_buttons">
        <button id="button_speak_to" class="speaker"><i class="ri-volume-up-line button-icon"></i></button>
        <button id="button_copy_to"><i class="ri-file-copy-line button-icon"></i></button>
        <button id="button_query_to_db"><i class="ri-emotion-sad-line button-icon"></i></button>
      </span>
    </p>
    <input type="button" id="translate" class="button" name="translate" value="Translate">
  </div>

  <footer id="footer">
    <span>
      <p>
        <a href="https://web.unipv.it/" class="aliceblue">Università degli Studi di Pavia</a>
        <br>
        Cloud Computing Project UNIPV © 2022
      </p>
    </span>
  </footer>

</body>

<script src="{{url_for('static', filename='scripts/common.js')}}"></script>
<script src="{{url_for('static', filename='scripts/index.js')}}"></script>
</html>
