*, *:before, *:after {
    box-sizing: inherit;
}

.short-bio {
  position: relative;
  text-align: center;
  width: 80%;
  left: 10%;
  margin-top: 5%;
  padding: 1%;
  background-color:rgb(35 71 163 / 45%);
  font-size: larger;
  border-radius: 15px;
  box-shadow: 10px 10px 30px rgb(35 71 163 / 50%);
}

.font-xlarger{
    font-size: x-large;
}

.creators{
    position: relative;
    width: 90%;
    left: 5%; right: 5%;
    margin: 2% 0 10% 0;
}

.center{
    text-align: center;
}

.creators-column{
    float: left;
    width: 18%;
    margin: 1%;
    background-color: #A3E7D6;
    box-shadow: 0 4px 8px 0;
    border-radius: 15px;
}

.creators-column::after, .creators::after {
    content: "";
    clear: both;
    display: table;
}
