.big-list{
    position: relative;
    width: 90%;
    left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.item{
    padding: 1%;
    background-color:rgb(35 71 163 / 50%);
    font-size: larger;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgb(35 71 163 / 50%);
    margin-top: 2%;
    margin-bottom: 2%;
}

ul{
    list-style: none;
}

.complaints{
    position: relative;
    width: fit-content;
    left: 85%;
    font-size: 0.7em;
    text-align: center;
    padding: 1%;
    border-radius: 15px;
    background-color:rgba(35, 71, 163, 0.8);
    align-items: center;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #fff;
}

.possible-translations-area{
    position: relative;
    width: 10%;
    left: 85%;
}

.to_text_possible{
    position: relative;
    left: 30%;
    width: 40%;
    margin-top: 2%;
    padding: 1%;
    font-family: Quicksand;
    font-size: 20px;
    resize: none;
}

/* #fid{
    display: none;
} */

#possible-translations-button{
    border-radius: 15px;
}

.button {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:focus {
    color: #06f;
    fill: #06f;
    border-color: #06f;
  }
  
  .button:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  .button:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }