.big-list{
    position: relative;
    width: 90%;
    left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.item{
    padding: 1%;
    background-color:rgb(35 71 163 / 50%);
    font-size: larger;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgb(35 71 163 / 50%);
    margin-top: 2%;
    margin-bottom: 2%;
}

ul{
    list-style: none;
}