@font-face {
  font-family: Quicksand;
  src: url('../font/Quicksand/Quicksand-VariableFont_wght.ttf');
}

body {
    margin: 0;
    font-family: Quicksand;
    /*background-image: linear-gradient(265deg,#97c3f4 2%,#e2eef2 55%,#fff 95%);*/
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(151,195,244,1) 100%);
}

.navbar-image {
  width: 28px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

ul.topnav li {
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: #333;
}

ul.topnav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: auto;
  font-size: 2em;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {
  background-color: seagreen;
  color: white;
}

ul.topnav li a.logo {background-color: #97c3f4;}

ul.topnav li a.logo:hover {background-color: #97c3f4;}

ul.topnav li.right {float: right;}

.short-bio{
  position: relative;
  text-align: center;
  width: 80%;
  left: 10%;
  margin-top: 5%;
  padding: 1%;
  background-color:rgb(35 71 163 / 45%);
  font-size: larger;
  border-radius: 15px;
  box-shadow: 10px 10px 30px rgb(35 71 163 / 50%);
}

.complex {
    text-align: center;
    margin: 5% 10% 5% 10%;
    padding: 5%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgb(35 71 163 / 50%);
}

.complex select {
  margin-right: 25%;
  margin-left: 25%;
  font-family: Quicksand;
  font-size: 15px;
}

.complex select:focus {
  color: #06f;
  fill: #06f;
  border-color: #06f;
}

.complex select:hover {
  color: #06f;
  fill: #06f;
  border-color: #06f;
}

.complex select:active {
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.complex textarea {
    font-family: Quicksand;
    font-size: 20px;
    width: 40%;
    min-height: 15em;
    resize: none;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 10px 10px 30px rgb(35 71 163 / 50%);
}

.vertical_buttons {
  display: grid;
}

#button_speak_from {
  margin-right: 5%;
}

#button_paste_from {
  margin-right: 5%;
}

.button-icon {
  font-size: 200%;
}

#to_text {
  margin-left: 5%;
}

.complex .selects_line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.complex .textareas_line {
  display: flex;
  justify-content: center;
}

.button {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.button:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button .button-hover-image {
  display: none;
}


.button:hover .button-image{
  display: none;
}

.button:active .button-image{
  display: none;
}


.button:hover .button-hover-image{
  display: block;
}

.button:active .button-hover-image{
  display: block;
}



#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    font-size: 100%;
    padding-top: 1em; padding-bottom: 1em;
    color: aliceblue;
}

a.aliceblue {
    color: aliceblue;
}

@media (min-width: 768px) {
  .button {
    min-width: 170px;
  }
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li { float: none; }
  ul.topnav li a {
    font-size: 1.2em;
  }

  #footer {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
}
