.menu {
    background: yellow;
    border-radius: 3px;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 1%;
  }

.menu a.currentpage {
    font-weight: bolder;
    filter: drop-shadow(0px 0px 4px white);
}

a:hover {
    transition: 0.5s;
    transform: scale(1.2) perspective(1px);
}